<div class="card">
    <div class="card-header">
        <h2>About Todd</h2>
    </div>

    <div class="card-body">
        <img src="{{ asset('img/profile.jpg') }}" class="float-left" style="margin-right: 15px;" width="50%">
        <p>
            Full stack application developer. Life-long learner. Pragmatic programmer. Believer in clean coding. Proponent for extensible and reusable code.
            Hobbies include (very) amateur photography, collecting old jazz records and going to live music performances.
        </p>
        <p>
            <i class="fa fa-map-pin"></i> North Central Ohio, US<br>
            <i class="fa fa-envelope"></i> todd<i class="fa fa-at"></i>eidson[dot]info
        </p>

    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3>Obligatory Disclaimer</h3>
    </div>

    <div class="card-body">
        <p>All opinions are my own, probably wrong, and subject to change without notice.</p>

        <p>© 2017-2019 Todd Eidson. All content is licensed under the
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
            Creative Commons Attribution-ShareAlike 4.0 International License.
        </a>
        </p>

        <p>Hosted on <a href="https://www.linode.com/" target="_blank">linode</a></p>
    </div>
</div>
