<h3>About Todd</h3>
<img src="{{ asset('img/profile.jpg') }}" class="float-left" style="margin-right: 15px;" width="50%">
<p>
    Todd Eidson is a full stack application developer and life-long learner.
    He is a pragmatic programmer, a believer in clean coding, and an evangelist for extensible and reusable code.
    His hobbies include collecting old jazz records and going to live music performances.
</p>

<p>Obligatory disclaimer:  All opinions are my own, probably wrong, and subject to change without notice.</p>