<script>
    window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
</script>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '136639210391980',
            xfbml      : true,
            version    : 'v2.8'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="social-media-buttons">
    <div id="fb-root"></div>
    <div class="float-left">
        <div
            data-href="https://eidson.info/post/{{ post.url }}"
            data-layout="button_count"
            class="fb-like"
            data-share="true"
            data-show-faces="true">
        </div>
    </div>
    <div class="float-left" style="margin-left: 5px; margin-top: 4px;">
        <a class="twitter-share-button"
           style="margin-top: 25px;"
           href="https://twitter.com/intent/tweet">Tweet</a>
    </div>
</div>
