{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Latest post</h2>
                </div>
                {% include 'default/post.teaser.html.twig' %}
                <div class="card-footer">
                    <h3><a href="{{ url('blog') }}">See all...</a> </h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>
                        <i class="fa fa-twitter"></i>
                        Twitter
                    </h2>
                </div>
                <div class="card-body" style="height: 660px; overflow-y: scroll">
                    <a class="twitter-timeline" href="https://twitter.com/ToddEidson?ref_src=twsrc%5Etfw">Tweets by ToddEidson</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a href="https://twitter.com/toddeidson?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @toddeidson</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
