{% extends 'base.html.twig' %}

{% block body %}
   {% for post in posts %}
       <div class="card">
           <div class="card-body posts">
               {{ post.intro  | raw }}

               <a href="/post/{{ post.url }}">Read More</a>
           </div>
       </div>
   {% endfor %}
{% endblock %}

