{% extends 'base.html.twig' %}

{% block body %}
   {% for post in posts %}
       <div class="card">
           <div class="card-body">
               {{ post.html  | raw }}

               <a href="{{ post.uri }}">Read More</a>
           </div>
       </div>
   {% endfor %}
{% endblock %}

