{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        Stuff
    </div>
    <div class="row">
        <div class="col-sm-6">
            Github
        </div>
        <div class="col-sm-6" style="height: 448px; overflow-y: scroll">
            <a class="twitter-timeline" href="https://twitter.com/ToddEidson?ref_src=twsrc%5Etfw">Tweets by ToddEidson</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>

{% endblock %}
