{% extends '::base.html.twig' %}

{% block body %}

   <a href="https://eidsonator.github.io/simonSays/" target="_blank">Simon Says</a>
    <p>A blog of short and funny conversations with my son.</p>

    <a href="https://www.bapm.com/">Bridgestone APM Company</a>

{% endblock %}