{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1><small>Todd Eidson</small> Resume</h1>
        </div>


        <div class="col-sm-6">
            <h3>Employment History</h3>
            <table class="table table-condensed">
                <tr>
                    <td>
                        <p><strong>Bridgestone APM Company</strong><br>
                            Feb. 2013 to Present<br>
                            <em>Application Developer</em><br>
                            Duties:</p>
                        <ul style="margin-top: -15px;">
                            <li>Write, maintain and debug Web Apps using HTML, PHP5/7, CSS, and JavaScript</li>
                            <li>Design public facing <a href="https://www.bapm.com" target="_blank">website</a></li>
                            <li>Gather Requirements</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Aug. 2013 to Dec. 2013 - <strong>North Central State College</strong><br>
                            <em>Adjunct Professor</em><br>
                            Duties:</p>
                        <ul style="margin-top: -15px;">
                            <li>Instruct students in an <em>Intro to Javascript</em> course</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Jul. 2011 to Feb. 2013 - <strong>Ganymede Technologies</strong><br>
                            <em>Programmer</em><br>
                            Duties:</p>
                        <ul style="margin-top: -15px;">
                            <li>Write, maintain, and debug C++ applications for a POS system</li>
                            <li>Integrate 3<sup>rd</sup> party software such as Quickbooks and video surveillance</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Feb. 2011 to Jul. 2011 - <strong>Richland County Common Pleas Court</strong><br>
                            <em>Systems Analyst</em><br>
                            Duties:</p>
                        <ul style="margin-top: -15px;">
                            <li>Implement & maintain ticketing system</li>
                            <li>Design & publish website</li>
                            <li>Reconfigure Exchange Server for new Email domain</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <h3>Education</h3>
            <table class="table table-condensed">
                <tr>
                    <td>
                        <p>Oct. 2011 to Dec. 2012 – <strong>Western Governors University</strong><br/>
                            <em>Bachelor of Science, Information Technology – Software Emphasis</em></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Sept. 2009 to June 2011 – <strong>North Central State College</strong><br/>
                            <em>Applied Associate of Business, Computer Information Systems</em></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Sept. 1992 to June 1994 – <strong>Pioneer Joint Vocational School</strong><br/>
                            <em>Electronics</em>
                        </p>
                    </td>
                </tr>
            </table>
            <h3>Certifications</h3>
            <table class="table table-condensed">
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>Oracle SCJP – Java Programmer</li>
                            <li>Microsoft 70-480 HTML5 & Javascript</li>
                            <li>CompTIA A+</li>
                            <li>CompTIA Project+</li>
                            <li>CompTIA Security+</li>
                            <li>NCSC PC Repair</li>
                            <li>CIW Web Designer</li>
                            <li>CIW Perl Specialist</li>
                        </ul>
                    </td>
                </tr>
            </table>

        </div>
    </div>
{% endblock %}