@import '~bootstrap/scss/bootstrap.scss';
@import '!~font-awesome/scss/font-awesome.scss';

.posts > p > img {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

@media screen and (max-width: 719px) {
  .posts > p > img {
    width: 100%;
  }
}

@media screen and (min-width: 720px) {
  .posts > p > img {
    width: 50%;
  }
}

blockquote {
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: .25rem solid #eceeef;
}

.card {
    margin-bottom: 15px;
}
