@import '~bootstrap/scss/bootstrap.scss';
@import '!~fork-awesome/scss/fork-awesome.scss';



.posts > p > img {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

@media screen and (max-width: 719px) {
  .posts > p > img {
    width: 100%;
  }
}

@media screen and (min-width: 720px) {
  .posts > p > img {
    width: 50%;
  }
}

blockquote {
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: .25rem solid #eceeef;
}

.card {
    margin-bottom: 15px;
}


.fa-github-square {
    color: #4078c0;
}

.fa-dev-to {
    color: black;
    overflow: hidden;
    border-radius: 8px;
}

.fa-rss-square {
    color: #ee802f;
}

.fa-linkedin-square {
    color: #0077b5;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-twitter-square {
    color:#1da1f2;
}

.fa-instagram {
    color: #405de6;
}


.fa-stack-overflow {
    color: #f48024;
}

.fa-stack-overflow.fa-2x {
    font-size: 1.7em;
    padding-top: 2px;
}
